<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Page</title>
</head>
<body>
    <form class="schedule-button-container", action="{{ url_for('matchup_table') }}" method="get">
        <button class="schedule-button" type="submit">Back to matchups</button>
    </form>
    <table class="table schedule-table-striped">
    <thead>
        <th scope="col">Team1</th>
        <th scope="col">Team2</th>
        <th scope="col">Links</th>
    </thead>
    {% for battles in matchups %}
    <tbody>
        <tr>
            <td>{{battles[0]}}</td>
            <td>{{battles[1]}}</td>
            <td>
            <form class="links-button-container" action="{{ url_for('matchup_table') }}" method="get">
                <input type="hidden" name="hidden_data" value="{{ battles[0] + '^' + battles[1] }}">
                <button class="links-button" type="submit">Link to Matchup</button>
            </form>            
            </td>
        </tr>
    </tbody>
    {% endfor %}
    </table>
</body>
</html>