<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ball Page Knockout</title>
</head>
<img src="{{ url_for('static', filename='images/ball-page-copy.jpg') }}" alt="Your Image Description" id="header-image">
<form method="post" action="/">
    <select name="team1">
        {% for item in list_options %}
            <option value="{{ item.name }}"
                {% for matchups in battles if item.name|string == matchups[0].name|string %}selected{% endfor %}>
                {{ item.name }}
            </option>
        {% endfor %}
    </select>

    <select name="team2">
        {% for item in list_options %}
        <option value="{{ item.name }}"
            {% for matchups in battles if item.name|string == matchups[1].name|string or item.name|string == matchups[1].name|string %}selected{% endfor %}>
            {{ item.name }}
        </option>        
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

<body>
    {% for matchups in battles %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{matchups[0].name}}</th>
            <th scope="col">Team</th>
            <th scope="col">{{matchups[1].name}}</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                    {% set a = 0 %}
                    {% set b = 0 %}
                    {% set c = 0 %}
                    {% if matchups[0].fg > matchups[1].fg %}
                <th scope="row">{{matchups[0].fg}}</th>
                <td>FG%</td>
                <td>{{matchups[1].fg}}</td>
                    {% set a = a+1 %}
                    {% elif matchups[1].fg > matchups[0].fg %}
                <td>{{matchups[0].fg}}</td>
                <td>FG%</td>
                <th scope="row">{{matchups[1].fg}}</h>
                    {% set b = b + 1%}
                    {% else %}
                <td>{{matchups[0].fg}}</td>
                <td>FG%</td>
                <td>{{matchups[1].fg}}</td>
                    {% set c = c + 1 %}
                    {% endif %}

            </tr>
            <tr>
                    {% if matchups[0].ft > matchups[1].ft %}

                <th scope="row">{{matchups[0].ft}}</th>
                <td>FT%</td>
                <td>{{matchups[1].ft}}</td>
                    {% set a = a+1 %}
                    {% elif matchups[1].ft > matchups[0].ft %}
                    <td>{{matchups[0].ft}}</td>
                <td>FT%</td>
                <th scope="row">{{matchups[1].ft}}</th>
                    {% set b = b + 1%}
                    {% else %}
                <td>{{matchups[0].ft}}</td>
                <td>FT%</td>
                <td>{{matchups[1].ft}}</td>
                    {% set c = c + 1 %}
                    {% endif %}

              </tr>
            <tr>
                {% if matchups[0].threes > matchups[1].threes %}
            <th scope="row">{{matchups[0].threes}}</th>
            <td>3PTM</td>
            <td>{{matchups[1].threes}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].threes > matchups[0].threes %}
            <td>{{matchups[0].threes}}</td>
            <td>3PTM</td>
            <th scope="row">{{matchups[1].threes}}</th>
                {% set b = b + 1%}
                {% else %}
            <td>{{matchups[0].threes}}</td>
            <td>3PTM</td>
            <td>{{matchups[1].threes}}</td>
                {% set c = c + 1 %}
                {% endif %}
          </tr>
          <tr>
            {% if matchups[0].three_percent > matchups[1].three_percent %}
        <th scope="row">{{matchups[0].three_percent}}</th>
        <td>3PT%</td>
        <td>{{matchups[1].three_percent}}</td>
            {% set a = a+1 %}
            {% elif matchups[1].three_percent > matchups[0].three_percent %}
        <td scope="row">{{matchups[0].three_percent}}</td>
        <td>3PT%</td>
        <th>{{matchups[1].three_percent}}</th>
            {% set b = b + 1%}
            {% else %}
        <td scope="row">{{matchups[0].three_percent}}</td>
        <td>3PT%</td>
        <td>{{matchups[1].three_percent}}</td>
            {% set c = c + 1 %}
            {% endif %}
      </tr>
          <tr>
            {% if matchups[0].rebounds > matchups[1].rebounds %}
            <th scope="row">{{matchups[0].rebounds}}</th>
            <td>Rebounds</td>
            <td>{{matchups[1].rebounds}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].rebounds > matchups[0].rebounds %}
            <td>{{matchups[0].rebounds}}</td>
            <td>Rebounds</td>
            <th scope="row">{{matchups[1].rebounds}}</th>
                {% set b = b + 1%}
                {% else %}
            <td>{{matchups[0].rebounds}}</td>
            <td>Rebounds</td>
            <td>{{matchups[1].rebounds}}</td>
                {% set c = c + 1 %}
                {% endif %}
          </tr>
          <tr>
            {% if matchups[0].assists > matchups[1].assists %}
            <th scope="row">{{matchups[0].assists}}</th>
            <td>Assists</td>
            <td>{{matchups[1].assists}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].assists > matchups[0].assists %}
            <td>{{matchups[0].assists}}</td>
            <td>Assists</td>
            <th scope="row">{{matchups[1].assists}}</th>
                {% set b = b + 1%}
                {% else %}
            <td>{{matchups[0].assists}}</td>
            <td>Assists</td>
            <td>{{matchups[1].assists}}</td>
                {% set c = c + 1 %}
                {% endif %} 
          </tr>
          <tr>
            {% if matchups[0].steals > matchups[1].steals %}
            <th scope="row">{{matchups[0].steals}}</th>
            <td>Steals</td>
            <td>{{matchups[1].steals}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].steals > matchups[0].steals %}
            <td>{{matchups[0].steals}}</td>
            <td>Steals</td>
            <th scope="row">{{matchups[1].steals}}</th>
                {% set b = b + 1%}
                {% else %}
            <td>{{matchups[0].steals}}</td>
            <td>Steals</td>
            <td>{{matchups[1].steals}}</td>
                {% set c = c + 1 %}
                {% endif %} 
          </tr>
          <tr>
            {% if matchups[0].blocks > matchups[1].blocks %}
            <th scope="row">{{matchups[0].blocks}}</th>
            <td>Blocks</td>
            <td>{{matchups[1].blocks}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].blocks > matchups[0].blocks %}
            <td>{{matchups[0].blocks}}</td>
            <td>Blocks</td>
            <th scope="row">{{matchups[1].blocks}}</th>
                {% set b = b + 1%}
                {% else %}
            <td">{{matchups[0].blocks}}</td>
            <td>Blocks</td>
            <td>{{matchups[1].blocks}}</td>
                {% set c = c + 1 %}
                {% endif %} 
          </tr>
          <tr>
            {% if matchups[0].turnovers < matchups[1].turnovers %}
            <th scope="row">{{matchups[0].turnovers}}</th>
            <td>TO</td>
            <td>{{matchups[1].turnovers}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].turnovers < matchups[0].turnovers %}
            <td>{{matchups[0].turnovers}}</td>
            <td>TO</td>
            <th scope="row">{{matchups[1].turnovers}}</th>
                {% set b = b + 1%}
                {% else %}
            <td>{{matchups[0].turnovers}}</td>
            <td>TO</td>
            <td>{{matchups[1].turnovers}}</td>
                {% set c = c + 1 %}
                {% endif %} 
          </tr>
          <tr>
            {% if matchups[0].td > matchups[1].td %}
            <th scope="row">{{matchups[0].td}}</th>
            <td>TD</td>
            <td>{{matchups[1].td}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].td > matchups[0].td %}
            <th scope="row">{{matchups[0].td}}</th>
            <td>TD</td>
            <td>{{matchups[1].td}}</td>
                {% set b = b + 1%}
                {% else %}
            <td scope="row">{{matchups[0].td}}</td>
            <td>TD</td>
            <td>{{matchups[1].td}}</td>
                {% set c = c + 1 %}
                {% endif %} 
          </tr>
          <tr>
            {% if matchups[0].points > matchups[1].points %}
            <th scope="row">{{matchups[0].points}}</th>
            <td>Points</td>
            <td>{{matchups[1].points}}</td>
                {% set a = a+1 %}
                {% elif matchups[1].points > matchups[0].points %}
            <td>{{matchups[0].points}}</td>
            <td>Points</td>
            <th scope="row">{{matchups[1].points}}</th>  
                {% set b = b + 1%}
                {% else %}
            <td>{{matchups[0].points}}</td>
            <td>Points</td>
            <td>{{matchups[1].points}}</td>
                {% set c = c + 1 %}
                {% endif %} 
          </tr>
          <tr>
            <td scope="row"></td>
            <td>{{a}} - {{c}} - {{b}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>